<div id="layoutSidenav">
            <div id="layoutSidenav_nav">      
              <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                                  <div class="sb-sidenav-menu">
                                      <div class="nav">
                                          <div class="sb-sidenav-menu-heading">Menu</div>
                                          <a class="nav-link" href="tamu">
                                              <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
                                              Buku Tamu
                                          </a>
                                          <a class="nav-link" href="cio">
                                              <div class="sb-nav-link-icon"><i class="fa-sharp fa-light fa-repeat"></i></div>
                                              Daftar Check IN / OUT
                                          </a>
                                          <a class="nav-link" href="admin-list">
                                              <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                                              Daftar Admin
                                          </a>
                                          <a class="nav-link" href="stock-kamar">
                                              <div class="sb-nav-link-icon"><i class="fa-solid fa-bed"></i></div>
                                              Stock Kamar
                                          </a>
                                      </div>
                                  </div>
                                  <div class="sb-sidenav-footer">
                                      <div class="small">Logged in as:</div>
                                      ADMIN01
                                  </div>
                              </nav>
            </div>